<?php
/** @var \Luma\Superheroes\ViewModel\Detail $viewModel */
$viewModel = $block->getViewModel();

$hero = $viewModel->getHero();
?>

<?php if($hero !== null) { ?>

<div class="hero">
    <h2><?= $hero->getSuperheroName() ?></h2>
    <h3><?= $hero->getRealName() ?></h3>

    <p><b>Superpower:</b> <?= $hero->getSuperpower() ?></p>
    <p><b>Side Effects:</b> <?= $hero->getSuperpowerSideEffects() ?></p>
    <p><b>Data:</b> <pre><?= print_r($hero->getData(), true) ?></pre></p>
</div>

<?php } else { ?>

<div class="splash">
    <span>Select a superhero above to learn more about the stars of our show!</span>
</div>

<?php } ?>
