<?php
    /** @var \Luma\Superheroes\ViewModel\HeroList $viewModel */
    $viewModel = $block->getViewModel();

    $heroes = $viewModel->getList();
?>

<nav class="superhero-list">
    <ul>
        <?php foreach ($heroes as $hero) { ?>
            <li class="<?= $viewModel->getActiveClass($hero->getEntityId()) ?>">
                <a href="<?= $block->getUrl('superheroes/index/index', ['hero' => $hero->getEntityId()]) ?>">
                    <?= $hero->getSuperheroName() ?>
                </a>
            </li>
        <?php } ?>
    </ul>
</nav>