@red: #e74c3c;
@white: #fff;
@whiteish: #f0f0f0;
@black: #333;

.superhero-list {
  display: block;

  ul {
    background-color: @whiteish;
    padding: 8px 8px 0;
    text-align: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      padding: 8px 8px 4px;
      margin: 0 8px;
      background-color: @white;

      &.active {
        background-color: @red;

        a {
          color: @white;

          &:hover {
            color: @white;
            text-decoration: underline;
          }
        }
      }

      a {
        color: @black;

        &:hover {
          color: @black;
          text-decoration: underline;
        }
      }
    }
  }
}

.hero {
  background-color: @red;
  color: @white;
  padding: 16px 8px;

  h2, h3 {
    font-weight: 600;
  }

  h2, h3, p {
    margin: 0;
  }

  h3 {
    margin-bottom: 16px;
  }
}

.splash {
  height: 50vh;
  background-color: @whiteish;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @black;
  border-top: #ddd solid 1px;
  font-size: 2rem;
}